/* Copy this CSS code into a <style></style> block in the .html-file in the head 
    and replace <div id="vis" /> with this:
    <div class="container">
      <div id="vis" />
    </div>

*/
.container {
  display: flex;
  justify-content: center;
}
.vega-bindings {
  position: absolute;
  left: 70px;
  top: 70px;
  display: flex;
  gap: 30px;
  font-family: sans-serif;
}
.vega-bind {
  display: flex;
  gap: 10px;
}
.vega-bind-radio {
  display: flex;
  gap: 10px;
  align-items: center;
}
#vis > div > form > div > span.vega-bind-radio > label {
  display: flex;
  align-items: center;
}
#vis > div > form > div > span.vega-bind-radio > label > input {
  /* radio butts */
  display: flex;
  align-items: center; /* worketh not*/
}
#vis > div > form > div > label,
.vega-bind-name {
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: medium;
  align-items: center;
}
